body {
  background-color: white;
  font-family: Arial, sans-serif;
  color: #eee;
  margin: 0px;
  padding: 40px 0;
  text-align: center;
}

.welcome-img {
  max-width: 80%;
  height: auto;
  margin-top: 20px;
  border-radius: 0px;
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0.3);
}


.container {
  margin-bottom: 40px;
}

p{
    color: black;
    margin-center: 10px;
}

h1 {
  color: #61dafb;
  margin-bottom: 20px;
}

h2 {
  color: #0f3150;
  margin: 20px 0 10px;
}

.auth-container {
  width: 100%;
  background: #d8e7f5;
  padding: 30px 0px;
  border-radius: 0;
  box-shadow: 0 4px 15px rgba(0,0,0,0,3);
  box-sizing: border-box;
  text-align: center;
  margin: 30px 0;
}

.btn {
  display: inline-block;
  background-color: #61dafb;
  color: #282c34;
  font-weight: bold;
  padding: 12px 28px;
  margin: 10px 0 25px;
  border: none;
  border-radius: 6px;
  text-decoration: none;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #21a1f1;
  color: white;
}

footer {
  text-align: center;
  padding: 20px;
  font-size: 0.9rem;
  color: #777;
}
