<nav class="navbar">
  <div class="logo">
    <a href="/">
      <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo" class="logo-img">
    </a>
  </div>
  <ul class="nav-links">
    <li><a href="/"><i class="fa-solid fa-house"></i> Home</a></li>
    <li><a href="/contact"><i class="fa-solid fa-envelope"></i> Contact</a></li>
    <li><a href="/about"><i class="fa-solid fa-circle-info"></i> About</a></li>
    <li class="dropdown">
      <a href="#"><i class="fa-solid fa-briefcase"></i> Services <i class="fa-solid fa-caret-down"></i></a>
      <ul class="dropdown-menu">
        <li><a href="/services/resume-analysis">Resume Analysis</a></li>
        <li><a href="/services/job-matching">Job Matching</a></li>
        <li><a href="/services/reports">Reporting Tools</a></li>
      </ul>
    </li>
  </ul>
</nav>
