<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contacts</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <!-- Contact Info Container -->
    <div class="auth-container">
        <h1 class="h1m">📇 About Me</h1>

        <label class="label">📧 Email: <a href="mailto:ruchiradissanayaka2@gmail.com">ruchiradissanayaka2@gmail.com</a></label><br>
        <label class="label">📱 WhatsApp: <a href="https://wa.me/94763976107" target="_blank">+94 76 397 6107</a></label><br>
        <label class="label">🔗 LinkedIn: <a href="https://www.linkedin.com/in/ruchira-dissanayaka-b634b21a5" target="_blank">Ruchira Dissanayaka</a></label><br>
        <label class="label">💻 GitHub: <a href="https://github.com/RuchiDissa" target="_blank">RuchiDissa</a></label>
    </div>

    <!-- Footer with Contact Button -->
    <footer>
        <div class="right-align">
            <a href="/" class="homebtn">🏠 Home</a>
        </div>
        <p>&copy; All Rights Reserved 2025</p>
    </footer>

</body>
</html>
