<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Add New User</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<header>
    {% include 'partials/navbar.html' %}
  </header>
<main>
  <div class="auth-container">
    <h1>Add New User</h1>
    <form method="POST">
      <label class="label">Username:</label><br>
      <input type="text" name="username" class="input" required><br>

      <label class="label">Name:</label><br>
      <input type="text" name="name" class="input" required><br>

      <label class="label">Email:</label><br>
      <input type="email" name="email" class="input" required><br>

      <label class="label">Password:</label><br>
      <input type="password" name="password" class="input" required><br>

      <label class="label">Role:</label><br>
      <select name="role" class="input">
        <option value="none">None</option>
        <option value="admin">Admin</option>
      </select><br><br>

      <button type="submit" class="btn">Add User</button>
    </form>
    <br>
    <a href="{{ url_for('routes.admin_dashboard') }}">← Back to Dashboard</a>
  </div>
  </main>
 {% include 'partials/footer.html' %}
</body>
</html>
