<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Edit User</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<header>
    {% include 'partials/navbar.html' %}
  </header>
<main>
  <div class="auth-container">
    <h1>Edit User</h1>
    <form method="POST">
      <label class="label">Username:</label><br>
      <input class="input" type="text" name="username" value="{{ user.username }}" required><br>

      <label class="label">Name:</label><br>
      <input class="input" type="text" name="name" value="{{ user.name }}" required><br>

      <label class="label">Email:</label><br>
      <input class="input" type="email" name="email" value="{{ user.email }}" required><br>

      <label class="label">Role:</label><br>
      <select class="input" name="role">
        <option value="none" {% if user.role == 'none' %}selected{% endif %}>None</option>
        <option value="admin" {% if user.role == 'admin' %}selected{% endif %}>Admin</option>
      </select><br><br>

      <button type="submit" class="btn">Update User</button>
    </form>
    <br>
    <a href="{{ url_for('routes.admin_dashboard') }}">← Back to Dashboard</a>
  </div>
  </main>
 {% include 'partials/footer.html' %}
</body>
</html>
