<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <title>AI Resume Classifier</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<div class="container">
    <h1 class="h1m">Welcome</h1>
    <h1>AI Resume Classifier and Job Role Matcher</h1>
    <p>This Tool uses artificial intelligence to analyze and match candidates with appropriate job roles.</p>

    <img src="{{ url_for('static', filename='images/welcome.png') }}" alt="Welcome Image" class="welcome-img">
</div>

<div class="auth-container">
    <h2>Login to your account</h2>
    <a href="/login" class="btn">Login</a>

    <h2>Register Here If You Do Not Have Account</h2>
    <a href="/register" class="btn">Register</a>
</div>

<footer>
  <p>&copy; 2025</p>
</footer>

</body>
</html>
