<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
</head>
<body>
<header>
    {% include 'partials/navbar.html' %}
  </header>
<main>
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <ul>
      {% for category, message in messages %}
        {% if request.endpoint == 'auth.login' and 'Resume' not in message %}
          <li style="color: {% if category == 'success' %}green{% else %}red{% endif %}; font-weight: bold;">
            {{ message }}
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<div class="container">
    <h1 class="h1m">Welcome</h1>
    <p>Fill in your login Information</p>
</div>

<div class="auth-container-1">
    <form name="form1" action="{{ url_for('auth.login') }}" method="POST">
        <p><h2>Username:</h2><br/>
        <input type="text" name="user" class="input-1" required></p>
        <p><h2>Password:</h2><br/>
        <input type="password" name="password" class="input-1" required></p>
        <p><input type="submit" value="Login" class="btn-1"/></p>
    </form>
    <p><h2>Don't have an account? Register here</h2></p>
    <a href="{{ url_for('auth.register') }}" class="btn-1">Register</a>

</div>
</main>
 {% include 'partials/footer.html' %}
</body>
</html>
