<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
</head>
<body>
<header>
    {% include 'partials/navbar.html' %}
  </header>
<main>
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <ul>
          {% for category, message in messages %}
            <li style="color: {% if category == 'success' %}green{% else %}red{% endif %}; font-weight: bold;">
              {{ message }}
            </li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

    <div class="container">
        <h1 class="h1m">Welcome</h1>
        <p>Fill In All Information For Registration</p>
    </div>

    <div class="auth-container-1">
        <form name="form1" action="{{ url_for('auth.register') }}" method="POST">

        <p><h2>Username:</h2><br/>
        <input type="text" name="user" class="input-1" required></p>

        <p><h2>Name:</h2></p>
        <input type="text" name="name" class="input-1" required></p>

        <p><h2>Email:</h2></p>
        <input type="text" name="email" class="input-1" required></p>

        <p><h2>Password:</h2><br/>
        <input type="password" name="password" class="input-1" required></p>

        <p><h2>Confirm Password:</h2><br/>
        <input type="password" name="confirm_Password" class="input-1" required></p>

        <p>
            <input type="checkbox" id="agree" name="agree" required>
            I agree to the <a href="#">Privacy Policy</a>.
        </p>

        <p><input type="submit" value="Register" class="btn-1"/></p>
        </form>

        <p><h2>Already have an account</h2></p>
        <a href="{{ url_for('auth.login') }}" class="btn-1">Login</a>

    </div>
    </main>
 {% include 'partials/footer.html' %}
</body>
</html>
