<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<header>
    {% include 'partials/navbar.html' %}
  </header>
<main>
<div class="auth-container">
    <h1>Upload your Resume here</h1>

    <form method="POST" enctype="multipart/form-data">
      <label class="label">Choose your resume (PDF, DOCX, TXT):</label><br>
      <input type="file" name="resume" accept=".pdf,.docx,.txt" class="input" required><br><br>
      <button type="submit" class="btn">Upload Resume</button>
    </form>
</div>
</main>
 {% include 'partials/footer.html' %}
</body>
</html>
